<template>
  <view>
    <uni-nav-bar backgroundColor="#000" fixed title="首页" color="#fff" statusBar></uni-nav-bar>
    <view class="content">
      <view class="home_top">
        <swiper :interval="3000" :duration="1000">
          <swiper-item>
            <view class="swiper-item">
              <image src="https://qiniu.chinardr.net/60347c5ad754736721e4c691_20211229170901.jpg" mode="aspectFill"></image>
            </view>
          </swiper-item>
          <swiper-item>
            <view class="swiper-item">
              <image src="https://qiniu.chinardr.net/60347c5ad754736721e4c691_20211229170901.jpg" mode="aspectFill"></image>
            </view>
          </swiper-item>
        </swiper>
      </view>
      <view class="home_center">
        <view class="">小胖九宫格</view>
        <uni-grid column="3">
          <uni-grid-item v-for="i in 9">
            <view class="" style="text-align: center;">你好</view>
          </uni-grid-item>
        </uni-grid>
      </view>
    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        
      };
    },
    onLoad() {
      console.log(this.$store.state.common.test)
    },
  }
</script>

<style lang="scss">
  .content {
    padding: 0 20px;
    background-color: #e5e5e5;
    min-height: 100vh;
    .home_top {
      padding-top: 36.23rpx;
      // border-radius: 9.05rpx;
      // overflow: hidden;
      .swiper-item {
        width: 100%;
        height: 100%;
        border-radius: 9.05rpx;
        overflow: hidden;
      }
      .swiper-item > image{
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
