<template>
  <view>
    <uni-nav-bar backgroundColor="#000" fixed title="时刻" color="#fff" statusBar></uni-nav-bar>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        
      };
    }
  }
</script>

<style lang="scss">

</style>
