
.flex {
  display: flex;
  // 行
  &.row {
    flex-direction: row;
  }
  // 列
  &.column {
    flex-direction: column;
  }
  // 靠底
  &.bottom{
    align-items: flex-end;
  }
  // 靠右
  &.right {
   justify-content: flex-end;
   align-items: flex-end;
  }
  // 左右垂直 居中
  &.center {
    justify-content: center;
    align-items: center;
  }
  // 左右居中
  &.center-h {
    justify-content: center;
  }
  // 崔志居中
  &.center-v {
    align-items: center;
  }
  // 分散排列
  &.between {
    justify-content: space-between;
  }
  &-none {
    flex: none;
  }
  @for $i from 1 through 12 {
    &-#{$i} {
     flex: #{$i};
    }
  }
}



.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-ellipsis {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-ellipsis-2 {
	overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;  /*要显示的行数*/
    -webkit-box-orient: vertical;
	line-clamp: 2;
  }
  &-ellipsis-3 {
  overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;  /*要显示的行数*/
    -webkit-box-orient: vertical;
  line-clamp: 3;
  }
  // 文本强制换行
  &-wrap {
    word-wrap: break-word;
    word-break: break-all;
  }
  // 强制不换行
  &-nowrap {
    word-wrap: keep-all;
    white-space: nowrap;
  }
  // 金融字体
  &-oswald {
    font-family: Oswald;
  }
  // 大写字母
  &-up {
    text-transform: uppercase;
  }
  // 选中文本
  &-select {
    background: #1989fa;
    color: #fff;
  }
}