<template>
  <view>
    <uni-nav-bar backgroundColor="#000" fixed title="个人中心" color="#fff" statusBar></uni-nav-bar>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        
      };
    },
    onLoad() {
      if(1) {
        uni.navigateTo({
          url:'../../pages/login/login'
        })
      }
    },
    methods:{
      
    }
  }
</script>

<style lang="scss">

</style>
